 
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-sm-6 col-xs-12">
      <a class="close" data-dismiss="modal"><%= image_tag("unnamed.jpg", class: "img-responsive") %></a>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
      <a class="close" data-dismiss="modal"><%= image_tag("motorcycle.jpg", class: "img-responsive") %></a>
    </div>
  </div>
</div>
<!-- <div class="sign_up_header">
<a class="close" data-dismiss="modal">
     <%= image_tag("unnamed.jpg") %>
 </a>

 <a class="close" data-dismiss="modal">
     <%= image_tag("motorcycle.jpg") %>
 </a>
 </div> -->
