<!DOCTYPE html>
<html>
<head>
  <title>Alexander the Great</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    </div>
  </div>
</div>
<%= yield %>

<div class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <footer>
      <p>© Copyright 2015 Alexander the Great</p>
    </footer>
  </div>
</div>
</body>
</html>
