<!DOCTYPE html>
<html>
<head>
  <title>Atg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    </div>
  </div>
</div>
<%= yield %>

<div class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
  </div>
</div>
</body>
</html>
